@import 'mixins.scss';

html, 
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;    
}

body {
    margin: 0;
    padding: 0;
}

.draw {
    &__container {
        display: flex;
        flex-wrap: nowrap;
        border: solid 1px #333;
        overflow: hidden;
    
        .canvas-container {
            overflow: hidden !important;
        }
    }    

    &__toolbox {
        height: 100%;
        background-color: #F2F2F2;
        border-left: solid 1px #333;        
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex: 0 0 40px;
    }

    &__properties {
        background-color: #F2F2F2;
        border-left: solid 1px #333;
        padding: 15px;
        display: flex;
        width: 300px;
        flex-direction: column; 

        .actions {
            display: flex;
            flex: 0 0 auto;
        }

        .draw__tool {
            border: none;
            outline: none;
            margin-right: 7.5px;

            &::last-child {
                margin-right: 0; 
            }
        }
    }

    &__tool {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 14pt;
        color: #333;
        @include focus-states(darken(#F2F2F2, 5%), #0078d7);

        &--selected {
            background-color: #0078d7;
            color: #F2F2F2;
            @include focus-states(darken(#0078d7, 5%), #F2F2F2);
        }
    }
}

.scroll-container {
    @include vScroll();    
    margin: 0 0 15px;
    flex: 1 1 auto;
}