@import 'mixins.scss';

.draw {
    &__container {
        height: 480px;
        width: 640px;
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        border: solid 1px #333;
    }

    &__canvas {
        height: 100%;
        flex: 1 1;
    }

    &__toolbox {
        height: 100%;
        width: 40px;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    &__properties {
        position: absolute;
        right: -330px;
        top: -1px;
        width: 300px;
        background-color: #F2F2F2;
        border: solid 1px #333;
        padding: 15px;
        height: calc(100% - 30px);

        .ms-Label {
            text-transform: uppercase;
        }
    }

    &__tool {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 14pt;
        color: #333;
        @include focus-states(darken(#F2F2F2, 5%), #0078d7);

        &--selected {
            background-color: #0078d7;
            color: #F2F2F2;
            @include focus-states(darken(#0078d7, 5%), #F2F2F2);
        }
    }
}

.scroll-container {
    @include vScroll();    
    height: calc(100% - 45px);
    margin: 0 0 15px;
}